.reviewsio-reviews {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.reviewsio-review {
    flex: 1 1 0;
}

.reviewsio-reviews .overall-rating {
    width: 100%;
}

.reviewsio-review img.review-star {
    width: 20px;
}

.reviewsio-reviews .reviewsio-star-rating svg path{
    /* change the colour of the svgs to yellow     */
    fill: yellow;

}

.reviews-io-rating-bar-widget .reviews-io-bg-star {
    fill: #ccc;
}

.reviews-io-rating-bar-widget .reviews-io-star {
    fill: #000;
}